<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.dao.FavoriteDao">

    <insert id="setFavorite" parameterType="com.exam.entity.Favorite">
        insert into favorite (user_id,base_id)
        values (#{userId},#{baseId})
    </insert>
    <delete id="cancelFavorite">
        delete from favorite where user_id=#{userId} and base_id=#{baseId}
    </delete>
    <select id="getFavoriteBaseList" resultType="com.exam.entity.QuestionBase">
        select * from question_base
        where base_id in(
            select base_id
            from favorite
            where user_id=#{userId}
        )
    </select>
</mapper>